<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Market</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    {% include 'style.html' %}
    
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">Msika 265</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="#trending-products">Trending Products</a></li>
            <li><a class="nav-link scrollto" href="#products">Products</a></li>
            <li>
              <a class="nav-link scrollto" href="/chatbot">Chatbot</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#contact">Contact Us</a>
            </li>
              <a class="getstarted scrollto" href="/login">Login</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->  

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center" style='background-image: url("{{ url_for('static', filename='assets/img/market-1.jpg')}}"); height: 100%;'>
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>{{ market[1] }}</h1>
            <h2>
              {{ market[1] }} is located in {{ market[2] }}. 

              {% if products == "None" %}

                  {{ products }}

              However there are no products to show currently

              {% else %}

              It has a variety of trending products such as 

              {% for trending_product in trending_products %}

              {{ trending_product[1]}}
              {% endfor %}

              {% endif %}
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get there</a>
             
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="{{ url_for('static', filename='assets/img/market-1.jpg') }}"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">

      <!-- trending products -->
      <section id='trending-products'>
        
        <div class="section-title">
          <h2>Trending Products</h2>
          <p>
           Check out these trending products
          </p>
        </div>


        <div class='container'>
        <div class='row'>

        {% for trending_product in trending_products %}



        <!-- when there is 1 record-->
        {% if trending_products|length==1%}
        <div class='col-xl-12'>
          {% endif%}

          <!-- when there is 2 records-->
        {% if trending_products|length==2%}
        <div class='col-xl-6'>
          {% endif%}

          <!-- when there is 3 records-->
        {% if trending_products|length==3%}
        <div class='col-xl-4'>
          {% endif%}


          <!-- when there is 4 records-->
        {% if trending_products|length > 3 %}
        <div class='col-xl-3'>
          {% endif%}




          <div class='card border-0 shadow card-tiny'>

         <h3 class='text-center text-orange'>   {{ trending_product[1]}} </h3>
 
          </div>

        </div>

          
        {% endfor %}

        </div>
      </div>


        {% if trending_products|length==0%}

        <div class='d-flex justify-content-center'>
        No trending products to show
        </div>

        {% endif%}


      </section>
<!-- end of trending products section -->




<!-- products -->
<section id='products'>
        
  <div class="section-title">
    <h2>Products  {{ products|length }}</h2>
    <p>
     Check out the products at {{ market[1]}}. 
    </p>
  </div>


  <div class='container'>
  <div class='row'>

  {% for product in products %}

  <!-- when there is 1 record-->
  {% if products|length==1%}
  <div class='col-xl-12'>
    {% endif%}

    <!-- when there is 2 records-->
  {% if products|length==2%}
  <div class='col-xl-6'>
    {% endif%}

    <!-- when there is 3 records-->
  {% if products|length==3%}
  <div class='col-xl-4'>
    {% endif%}


    <!-- when there is 4 records-->
  {% if products|length == 4 %}
  <div class='col-xl-3'>
    {% endif%}




    <div class='card border-0 shadow card-tiny'>

   <h3 class='text-center title'>   {{ product[2]}} </h3>

   <div class='d-flex justify-content-center'>
   <h5 class='mt-4 badge-orange'>{{ product[3]}} </h5>
   </div>
    </div>

  </div>

    
  {% endfor %}

  </div>
</div>


  {% if products|length==0%}

  <div class='d-flex justify-content-center'>
  No products to show
  </div>

  {% endif%}


</section>
<!-- end of products section -->


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
      <p>
       Talk to us now. We are here to serve you
      </p>
    </div>

    <div class="row">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Blantyre, Malawi</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>exallnyasulu@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+265 999 736 099</p>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
            frameborder="0"
            style="border: 0; width: 100%; height: 290px"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form
          action="forms/contact.php"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea
              class="form-control"
              name="message"
              rows="10"
              required
            ></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->



        </main>
    <!-- End #main -->

    
    <!-- <div id="preloader"></div> -->
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>
