<html>
  <head>
    {% include 'style.html'%} {% include
    'seller/modals/add-product-modal.html'%} {% include 'js.html'%}
  </head>
  <body class="bg-light">
    {% include 'seller/header.html' %}
    <div class="container">
      <!-- lets show our alerts here-->

      <br />
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <!-- succes messages -->

      {% if category=="success"%}
      <div class="alert alert-success">{{ message }}</div>
      {% endif%}
      <!-- end of success messages-->

      <!-- error messages-->

      {% if category=="error"%}
      <div class="alert alert-danger">{{ message }}</div>
      {% endif %}
      <!-- end of error messages-->
      {% endfor %} {% endif %} {% endwith %}
      <!-- end of our alerts -->

      <!-- home button -->

      <!-- end of home button-->

      <!-- button to add markets -->

      <div class="d-flex justify-content-end mt-4 mb-1">
        <button
          class="btn-bordered-blue shadow"
          data-toggle="modal"
          data-target="#add-product-modal"
        >
          + Add Product
        </button>
      </div>
      <!-- end of button to add markets -->

      <table class="table-responsive">
        <thead>
          <tr>
            <th class="text-white text-center">Product ID</th>
            <th class="text-white text-center">Product Name</th>
            <th class="text-white text-center">Price</th>
            <th class="text-white text-center">Action</th>
          </tr>
        </thead>

        <tbody>
          {% for product in products %}
          <tr>
            <td class="text-center">{{ product[0] }}</td>
            <td class="text-center">{{ product[2] }}</td>
            <td class="text-center">{{ product[3] }}</td>

            <!-- our modal includes -->

            {% include 'seller/modals/edit-product-modal.html'%} {% include
            'seller/modals/delete-product-modal.html'%}

            <!-- end of our modal includes-->
            <td class="text-center">
              <button
                class="btn-blue"
                data-toggle="modal"
                data-target="#edit-product-modal-{{ product[0]}}"
              >
                Edit
              </button>
              <button
                class="btn-red"
                data-toggle="modal"
                data-target="#delete-product-modal-{{ product[0]}}"
              >
                Delete
              </button>
            </td>
          </tr>
          {% endfor %}

          <!-- Display "Zero bro" message if there are no sellers -->
          {% if products|length == 0 %}
          <tr>
            <td colspan="4" class="text-center"><br />No products to show</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
