<!-- Modal -->
<div
  class="modal fade"
  id="add-product-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="text-center title" id="staticBackdropLabel">
          Create Product
        </h3>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/seller/add-product"
          method="post"
          enctype="multipart/form-data"
        >
          <label>Product Name</label>
          <input type="text" class="form-control" name="product_name" /><br />

          <label>Price</label>
          <input type="text" class="form-control" name="price" /><br />

          <button class="btn-blue">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
